@use '~@angular/material'as mat;

@mixin nomadicdev-settings-component-theme($theme) {
    $primary   : map-get($theme, primary);
    $accent    : map-get($theme, accent);

    .settings {
        color: mat.get-color-from-palette($accent, default-contrast);
        background-color: mat.get-color-from-palette($accent);
    }
}