.settings {
    height                 : 58px;
    width                  : auto;
    border-end-end-radius  : 5px;
    border-start-end-radius: 5px;
    display: flex;
    // flex-direction: row;
    align-items: center;
    fa-icon {
        margin: 0 5px;
        position: relative;
        top: -5px;
        font-size: 48px;
    }
}