<div class="background">
  <div class="gradient">
    <div class="container">
      <h1>{{ 'nomadicdev.title' | translate }}</h1>
      <h2>{{ 'nomadicdev.subtitle' | translate }}</h2>
      <br>
      <div class="actions">
        <img [ngClass]="routeAnimationsElements" src="assets/img/angular.png" />
        <img [ngClass]="routeAnimationsElements" src="assets/img/python.png" />
        <img [ngClass]="routeAnimationsElements" src="assets/img/react-native.png" />

        <br>
        <a mat-raised-button [ngClass]="routeAnimationsElements" rel="noopener noreferrer" target="_blank"
          href="https://www.linkedin.com/in/julien-graisse/">
          <fa-icon [icon]="['fab','linkedin']"></fa-icon>
          LinkedIn
        </a>
      </div>
      <br>
      <br>
    </div>
  </div>
</div>



<div class="container">
  <!-- <mdb-carousel [ngClass]="routeAnimationsElements" indicatorClass="trt" [animation]="'slide'" [isControls]='false'
    [noPause]="true" [interval]="4000">
    <mdb-carousel-item *ngFor="let r of REVIEWS">
      <div>
        <h5><i>"{{ r.comment | translate }}"</i></h5>
        <p>{{ r.author }}</p>
      </div>
      <br>
    </mdb-carousel-item>
  </mdb-carousel> -->
</div>
<div class="container">
  <div class="about" id="about" [ngClass]="routeAnimationsElements">
    <h1>{{ 'nomadicdev.home.title' | translate }}</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col">
            <img class="profile" src="assets/img/me.jpg" />
          </div>
          <div class="col">
            <p style="display: flex; align-items: center;">Graduated from <a target="_blank" [href]="epflLink"><img
                  src="assets/img/epfl.png" style="width: 64px;" /></a></p>
            <p>
              <fa-icon icon="birthday-cake"></fa-icon> {{ myAge + ' ' + ('nomadicdev.years' | translate) }}
            </p>
            <p>
              <fa-icon icon="globe"></fa-icon> {{ 'nomadicdev.passport' | translate }}
            </p>
            <b>I speak</b>
            <span>
              French (native), English (C1), Dutch (B2), Turkish (B1), Spanish (B1), Chinese (A2)
            </span>
          </div>
        </div>
        <br>
      </div>
      <div class="col-md-6">
        <div class="col">
          <div style="display: flex; align-items: center;  margin-left: 5%;">
            <fa-icon size="3x" icon="brain"></fa-icon>
            <div class="col">
              <p style="font-weight: bold;text-align: center;">{{ 'nomadicdev.home.brain.title' | translate }}</p>
              <p style="text-align: center;">
                {{ 'nomadicdev.home.brain' | translate }}
              </p>
            </div>
          </div>
          <hr>
          <div style="display: flex; align-items: center;  margin-left: 5%;">
            <fa-icon size="3x" icon="puzzle-piece"></fa-icon>
            <div class="col">
              <p style="font-weight: bold;text-align: center;">{{ 'nomadicdev.home.puzzle.title' | translate }}</p>
              <p style="text-align: center;">
                {{ 'nomadicdev.home.puzzle' | translate }}
              </p>
            </div>
          </div>
          <hr>
          <div style="display: flex; align-items: center; margin-left: 5%;">
            <fa-icon size="3x" icon="grin-beam"></fa-icon>
            <div class="col">
              <p style="font-weight: bold;text-align: center;">{{ 'nomadicdev.home.smile.title' | translate }}</p>
              <p style="text-align: center;">
                {{ 'nomadicdev.home.smile' | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="portfolio" class="portfolio" [ngClass]="routeAnimationsElements">
    <h1>{{ 'nomadicdev.portfolio.title' | translate }}</h1>
    <div class="row">
      <div *ngFor="let project of PROJECTS" class="col-md-6 col-lg-4" [ngClass]="routeAnimationsElements">
        <mat-card>
          <mat-card-title>
            {{project.name | translate}}
          </mat-card-title>
          <code *ngFor="let tech of project.techs">{{ tech }}</code>
          <br>
          <br>
          <mat-card-subtitle>
            {{ project.description | translate }}
          </mat-card-subtitle>
          <mat-card-actions>
            <a *ngIf="project.image" mat-icon-button (click)="openImageDialog(project.image)">
              <fa-icon [icon]="['fas','image']"></fa-icon>
            </a>
            <a *ngIf="project.github" mat-icon-button [href]="project.github" rel="noopener noreferrer" target="_blank">
              <fa-icon [icon]="['fab','github']"></fa-icon>
            </a>
            <a *ngIf="project.url" mat-button [href]="project.url" target="_blank">
              <fa-icon icon="globe"></fa-icon>
            </a>
            <a *ngIf="project.play" mat-button [href]="project.play" rel="noopener noreferrer" target="_blank">
              <fa-icon [icon]="['fab','google-play']"></fa-icon>{{ 'nomadicdev.portfolio.download' | translate }}
            </a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <div id="exp" class="experience" [ngClass]="routeAnimationsElements">
    <h1>{{ 'nomadicdev.exp.title' | translate }}</h1>
    <div class="col-md-6" *ngFor="let exp of EXPERIENCE; let i = index" [style.margin-left]="i%2 == 0 ? 0 : 'auto' "
      [style.text-align]=" i%2 == 0 ? 'left' : 'right'">
      <mat-card-title>
        {{exp.company | translate}}
        <small style="display: block;">
          {{ exp.duration | translate }}
        </small>
      </mat-card-title>
      <code *ngFor="let tech of exp.techs">{{ tech }}</code>
      <mat-card-subtitle innerHTML="{{exp.description | translate}}">

      </mat-card-subtitle>
    </div>
  </div>
</div>

<div class="container">
  <div id="edu" class="education" [ngClass]="routeAnimationsElements">
    <h1>{{ 'nomadicdev.edu.title' | translate }}</h1>
    <div class="row">
      <div class="col-md-6">
        <img src="assets/img/epfl.png">
        <p>Bachelor & Master in Computer Engineering with minor in Space Technologies</p>
        <small>2010-2016</small>
        <mat-card-subtitle innerHTML="{{ 'nomadicdev.edu.epfl.description' | translate }}"></mat-card-subtitle>
      </div>
      <div class="col-md-6">
        <img src="assets/img/kul.png">
        <p>Erasmus</p>
        <small>2012-2013</small>
        <mat-card-subtitle>{{ 'nomadicdev.edu.kul.description' | translate }}</mat-card-subtitle>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="contact" class="contact" [ngClass]="routeAnimationsElements">
    <h1>{{ 'nomadicdev.contact.title' | translate }}</h1>
    <nomadicdev-contact-form></nomadicdev-contact-form>
  </div>
</div>