@import '../../styles-variables';
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');


h1 {
  text-align    : center;
  font-size     : 3rem;
  text-transform: uppercase;
}

h2 {
  padding-top: 3%;
  font-size     : 30px;
  font-weight: 500;
  font-family: "Indie Flower", cursive;
  text-transform: uppercase;
}

.background {
  padding : 80px 0 0 0;
  position: relative;
  height  : 80vh;

  h1,
  h2 {
    color     : white;
    text-align: center;
  }

  .actions {
    text-align: center;
    margin    : 50px;
    margin-top: 15px;
    z-index   : 1;

    img {
      width    : 100%;
      max-width: 150px;
    }

    span {
      display    : inline-block;
      font-weight: bold;
      padding    : 20px 10px 30px 10px;
    }

    a {
      margin: 0 5px 10px 0;

      &.actions-main {
        text-transform: uppercase;
        padding       : 3px 24px;
      }

      fa-icon {
        position: relative;
        bottom  : 1px;
      }
    }
  }


  &::before {
    position           : absolute;
    top                : 0;
    left               : 0;
    bottom             : 0;
    right              : 0;
    background-image   : url('../../assets/img/intro.jpg');
    background-repeat  : no-repeat;
    background-position: center top;
    background-size    : cover;
    opacity            : 1;
    content            : '';
    z-index            : 0;
  }

  .gradient {
    &::before {
      position: absolute;
      top     : 25%;
      left    : 0;
      bottom  : 0;
      right   : 0;
      content : '';
      z-index : 0;
    }
  }

  .container {
    position: relative;
  }
}

mdb-carousel {
  div {
    margin-left : auto;
    margin-right: auto;

    h5,
    p {
      text-align: center;
    }
  }
}

.about {
  h1 {
    margin: 35px;
  }



  img {
    max-width    : 240px;
    width        : 100%;
    
    &.profile{
      border-radius: 50%;
    }
  }
}

.portfolio {
  h1 {
    margin: 35px;
  }


  mat-card {
    margin: 0 0 20px 0;

    mat-card-title {
      position: relative;

    }

    code {
      padding  : 3px;
      margin-right: 1%;
      margin   : 1px;
      font-size: 10px;
    }

    mat-card-subtitle {
      min-height: 100px;
    }

    @media (max-width: map-get($grid-breakpoints, sm)) {
      mat-card-subtitle {
        min-height: auto;
      }
    }

    a {
      fa-icon {
        position : relative;
        bottom   : 2px;
        font-size: 16px;
        margin   : 6px;
      }
    }

    a[mat-icon-button] {
      position: relative;
      left    : 5px;
    }
  }

}

.experience {
  h1 {
    margin: 35px;
  }
}

.education {
  h1 {
    margin: 35px;
  }

  img {
    max-height  : 50px;
    display     : block;
    margin-left : auto;
    margin-right: auto;
  }
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .background {
    .actions {
      margin: 50px 0;
    }
  }

}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .background {
    padding: 40px 0 0 0;

    h1 {
      line-height: 1em;
    }

    .actions {
      margin: 40px 0 0 0;

      span {
        padding: 10px 0 20px 0;
      }

      a {
        width: 100%;
      }
    }
  }

}