<div [class]="'theme-wrapper ' + (theme$ | async)">
  <nomadicdev-settings></nomadicdev-settings>

  <mat-sidenav-container CdkScrollable>

    <mat-sidenav #sidenav mode="push">
      <div class="branding"><img [src]="logo" [alt]="logo" />
        <span>{{ 'nomadicdev.title' | translate}}</span>
      </div>
      <mat-nav-list>
        <a mat-list-item *ngFor="let item of navigation" (click)="sidenav.close(); scrollTo(item.link)"
          routerLinkActive="active">
          {{item.label | translate}}
        </a>
      </mat-nav-list>
    </mat-sidenav>
<mat-sidenav-content>
    <div class="wrapper">

      <div class="toolbar"
        [class.mat-elevation-z4]="true">
        <mat-toolbar color="primary" [style.height]="isTop? '64px' : '48px'">
          <button mat-icon-button class="d-md-none" (click)="sidenav.open()">
            <fa-icon icon="bars"></fa-icon>

          </button>

          <span routerLink="" class="branding spacer center d-inline d-sm-none">
            <img [src]="logo" [alt]="logo" /></span>
          <span routerLink="" class="branding spacer center d-none d-sm-inline d-md-none"><img [src]="logo"
              [alt]="logo" /> {{
            'nomadicdev.title' | translate }}</span>
          <span routerLink="" class="branding spacer d-none d-md-inline"><img [src]="logo" [alt]="logo" /> {{
            'nomadicdev.title' | translate
            }}</span>

          <span class="d-none d-md-inline">
            <button mat-button class="nav-button" *ngFor="let item of navigation" (click)="scrollTo(item.link)"
              routerLinkActive="active">
              {{item.label | translate}}
            </button>
          </span>


          <span *ngIf="language$ | async as language">
            <mat-select [ngModel]="language" (selectionChange)="onLanguageSelect($event)">
              <mat-option *ngFor="let l of languages" [value]="l">
                {{ l.toUpperCase() }}
              </mat-option>
            </mat-select>
          </span>
        </mat-toolbar>
      </div>

      <div class="content" [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig?.data?.title">
        <router-outlet #o="outlet"></router-outlet>
      </div>
      <div class="footer">
        <div class="row">
          <div class="col-12 signature">
            🄯 <span class="year">{{year}}</span> - Julien Graisse
            <br class="d-block d-sm-none">
            <a [matTooltip]="'nomadicdev.footer.changelog' | translate" matTooltipPosition="before"
              href="https://github.com/tomastrajan/nomadic-dev/blob/master/CHANGELOG.md">
            </a>
          </div>
        </div>
      </div>

    </div>
  </mat-sidenav-content>
  </mat-sidenav-container>

</div>