@use '~@angular/material' as mat;

$nomadicdev-black-primary: mat.define-palette(mat.$grey-palette, 700, 300, 900);
$nomadicdev-black-accent: mat.define-palette(mat.$blue-grey-palette, 400);
$nomadicdev-black-warn: mat.define-palette(mat.$red-palette, 500);

$nomadicdev-black-theme: mat.define-dark-theme(
  $nomadicdev-black-primary,
  $nomadicdev-black-accent,
  $nomadicdev-black-warn
);
