@use '~@angular/material' as mat;
$salmon-palette: (
 50: #e8eaf6,
 100: #c5cae9,
 200: #9fa8da,
 300: #7986cb,
 // ... continues to 900
 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: white,
   // ... continues to 900
 )
);
$nomadicdev-primary: mat.define-palette(mat.$brown-palette, 700, 300, 900);
$nomadicdev-accent: mat.define-palette(mat.$light-green-palette, 500);
$nomadicdev-warn: mat.define-palette(mat.$red-palette, A100);

$nomadicdev-theme: mat.define-light-theme($nomadicdev-primary, $nomadicdev-accent, $nomadicdev-warn);
