@use '~@angular/material' as mat;

$nomadicdev-light-primary: mat.define-palette(mat.$grey-palette, 200, 500, 300);
$nomadicdev-light-accent: mat.define-palette(mat.$brown-palette, 200);
$nomadicdev-light-warn: mat.define-palette(mat.$deep-orange-palette, 200);

$nomadicdev-light-theme: mat.define-light-theme(
  $nomadicdev-light-primary,
  $nomadicdev-light-accent,
  $nomadicdev-light-warn
);
