@use '~@angular/material' as mat;

$nomadicdev-nature-primary: mat.define-palette(mat.$brown-palette, 700, 300, 900);
$nomadicdev-nature-accent: mat.define-palette(mat.$deep-purple-palette, 300);
$nomadicdev-nature-warn: mat.define-palette(mat.$red-palette, 600);

$nomadicdev-nature-theme: mat.define-light-theme(
  $nomadicdev-nature-primary,
  $nomadicdev-nature-accent,
  $nomadicdev-nature-warn
);
