<div class="container">

  <ng-container *ngIf="formValueChanges$ | async as updatedForm">
  </ng-container>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <mat-card>
          <span class="d-flex justify-content-between align-items-baseline">
            <mat-slide-toggle formControlName="autosave">
              {{ 'nomadicdev.contact.autosave' | translate }}
            </mat-slide-toggle>
          </span>
          <div class="row">
            <mat-form-field class="col" [ngClass]="routeAnimationsElements">
              <input matInput placeholder="{{ 'nomadicdev.contact.name' | translate }}"
                formControlName="name">
              <mat-error *ngIf="form.get('name')?.invalid">
                {{ 'nomadicdev.contact.error1' | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field class="col" [ngClass]="routeAnimationsElements">
              <input matInput placeholder="{{ 'nomadicdev.contact.email' | translate }}"
                formControlName="email" type="email">
              <mat-error *ngIf="form.get('email')?.hasError('required')">
                {{ 'nomadicdev.contact.error1' | translate }}
              </mat-error>
              <mat-error *ngIf="form.get('email')?.hasError('email')">
                {{ 'nomadicdev.contact.error2' | translate }}</mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col" [ngClass]="routeAnimationsElements">
              <input matInput formControlName="subject" maxlength="200" placeholder="{{ 'nomadicdev.contact.subject' | translate }}">
              <mat-error *ngIf="form.get('required')?.invalid">
                {{ 'nomadicdev.contact.error1' | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field class="col" [ngClass]="routeAnimationsElements">
              <input matInput formControlName="org" maxlength="100" placeholder="{{ 'nomadicdev.contact.org' | translate }}">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col" [ngClass]="routeAnimationsElements">
              <textarea matInput placeholder="{{ 'nomadicdev.contact.message' | translate }}"cdkTextareaAutosize
              #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3" cdkAutosizeMaxRows="10"
                formControlName="message" maxlength="2000">
              </textarea>
              <mat-hint align="end">{{form.get('message')?.value?.length}} /
                2000</mat-hint>
              <mat-error *ngIf="form.get('description')?.hasError('required')">
                {{ 'nomadicdev.contact.error1' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row buttons d-flex justify-content-between pad">
            <button type="reset" color="warn" mat-raised-button (click)="reset()" [ngClass]="routeAnimationsElements">
              {{ 'nomadicdev.contact.reset' | translate }}
            </button>
            <button type="button" mat-raised-button [disabled]="form.get('autosave')?.value"
            [ngClass]="routeAnimationsElements" (click)="save()">
            {{ 'nomadicdev.contact.save' | translate }}
          </button>
          <button mat-raised-button color="accent" [ngClass]="routeAnimationsElements" [disabled]="!form.valid">
            <span *ngIf="!formSubmitting">{{ 'nomadicdev.contact.send' | translate }}</span>
            <mat-spinner *ngIf="formSubmitting" [diameter]="16" style="display: block; margin-left: auto;margin-right: auto;"></mat-spinner>

          </button>
          </div>
        </mat-card>
      </div>
    </div>
  </form>

</div>
