// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;

@import 'styles-variables';
// @import "~mdb-angular-ui-kit/assets/scss/mdb.scss";

@import "../node_modules/angular-bootstrap-md/assets/scss/bootstrap/bootstrap.scss";
@import "../node_modules/angular-bootstrap-md/assets/scss/mdb.scss";

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import 'styles-reset';

@include mat.core();

@import './themes/default-theme';
@import './themes/light-theme';
@import './themes/black-theme';
@import './themes/nature-theme';

@import 'styles-reset.scss-theme';
@import './app/app.component.scss-theme';
@import './app/features/home.component.scss-theme';
@import './app/shared/settings/settings.component.scss-theme';

@mixin custom-components-theme($theme) {
  @include nomadicdev-styles-reset-theme($theme);
  @include nomadicdev-app-component-theme($theme);
  @include nomadicdev-home-component-theme($theme);
  @include nomadicdev-settings-component-theme($theme);
}

.default-theme {
  @include mat.all-component-themes($nomadicdev-theme);
  @include custom-components-theme($nomadicdev-theme);
}

.light-theme {
  @include mat.all-component-themes($nomadicdev-light-theme);
  @include custom-components-theme($nomadicdev-light-theme);
}

.black-theme {
  @include mat.all-component-themes($nomadicdev-black-theme);
  @include custom-components-theme($nomadicdev-black-theme);
}

.nature-theme {
  @include mat.all-component-themes($nomadicdev-nature-theme);
  @include custom-components-theme($nomadicdev-nature-theme);
}
